<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SucMatchMapper">
	<resultMap id="SucMatchMap"
		type="study.spring.simplespring.model.SucMatch">
		<result property="SucMatchId" column="SucMatchId" />
		<result property="Status" column="Status" />
		<result property="ReqMatchId" column="ReqMatchId" />
		<result property="MemberId" column="MemberId" />
		<result property="OtherMemberId" column="OtherMemberId" />
	</resultMap>

	<insert id="insertSucMatchItem"
		parameterType="study.spring.simplespring.model.SucMatch"
		useGeneratedKeys="true" keyProperty="SucMatchId">
		INSERT INTO SucMatch (
		SucMatchId,
		Status, ReqMatchId, MemberId, OtherMemberId
		)
		VALUES (
		#{SucMatchId},
		#{Status}, #{ReqMatchId}, #{MemberId},#{OtherMemberId}
		)
	</insert>

	<select id="selectItem"
		parameterType="study.spring.simplespring.model.SucMatch"
		resultMap="SucMatchMap">
		SELECT * FROM sucmatch
		Inner join user ON (user.MemberId =
		sucmatch.otherMemberId) AND
		sucmatch.otherMemberId = #{MemberId}

	</select>
	<select id="select1"
		parameterType="study.spring.simplespring.model.SucMatch"
		resultMap="SucMatchMap">
		
		select s.sucmatchid,s.status,s.reqmatchid, OtherMemberId ,s.memberid , u.memberid as myMemberId ,uu.memberid as partnerMemberId ,u.username as myUserName, uu.username as partnerUserName, u.mobile as myMobile, uu.mobile as partnerMobile, u.gender as myGender, uu.gender as partnerGender, u.job as myJob, uu.job as partnerJob , u.bldtype as myBld, uu.bldtype as partnerBld, u.date_loc as myLoc, uu.date_loc as partnerLoc, u.sal_annual as mySal, uu.sal_annual as partnerSal ,u.user_img as myImg, uu.user_img as partnerImg
		, u.birthdate as myBirth, uu.birthdate as partnerBirth, u.ismarried as myMarry, uu.ismarried as partnerMarry from sucmatch as s join user as u on s.memberid = u.memberid join user as uu on 
		OtherMemberId = uu.memberid where (s.OtherMemberId=#{MemberId} or s.MemberId=#{MemberId}) and status=2 

	</select>
	
	<select id="select0"
		parameterType="study.spring.simplespring.model.SucMatch"
		resultMap="SucMatchMap">
		SELECT s.SucMatchId,s.Status,
		s.ReqMatchId,s.MemberId,
		s.OtherMemberId, u.UserName FROM connect5.sucmatch s
		INNER JOIN
		connect5.user u ON (s.MemberId = u.MemberId) AND
		s.OtherMemberId =
		#{MemberId} and s.status = 0;

	</select>

	<select id="selectList"
		parameterType="study.spring.simplespring.model.SucMatch"
		resultMap="SucMatchMap">
		SELECT s.SucMatchId,s.Status,
		s.ReqMatchId,s.MemberId,
		s.OtherMemberId, u.UserName FROM connect5.sucmatch s
		INNER JOIN
		connect5.user u ON (s.MemberId = u.MemberId) AND
		s.OtherMemberId =
		#{MemberId}
		
	</select>

	<update id="updateItem"
		parameterType="study.spring.simplespring.model.SucMatch">
		UPDATE SucMatch SET
		status = 2
		WHERE
		otherMemberId=#{MemberId} and SucMatchId=#{SucMatchId}
	</update>

	<update id="updateDisItem"
		parameterType="study.spring.simplespring.model.SucMatch">
		UPDATE SucMatch SET
		status = 1
		WHERE
		otherMemberId=#{MemberId} and SucMatchId=#{SucMatchId}
	</update>
	
	<delete id="deleteItem"
		parameterType="study.spring.simplespring.model.SucMatch">
		DELETE FROM SucMatch WHERE SucMatchId=#{SucMatchId}
	</delete>

</mapper>