<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap id="userMap"
		type="study.spring.simplespring.model.User">
		<result property="MemberId" column="MemberId" />
		<result property="UserId" column="UserId" />
		<result property="UserPw" column="UserPw" />
		<result property="UserName" column="UserName" />
		<result property="BirthDate" column="BirthDate" />
		<result property="Gender" column="Gender" />
		<result property="IsMarried" column="IsMarried" />
		<result property="Mobile" column="Mobile" />
		<result property="TEL" column="TEL" />
		<result property="Email" column="Email" />
		<result property="PostCode" column="PostCode" />
		<result property="BasicAddress" column="BasicAddress" />
		<result property="StateAddress" column="StateAddress" />
		<result property="DetailAddress" column="DetailAddress" />
		<result property="isadmin" column="isadmin" />
		<result property="Member_Lv" column="Member_Lv" />
		<result property="Job" column="Job" />
		<result property="Edu_Lv" column="Edu_Lv" />
		<result property="User_Img" column="User_Img" />
		<result property="Height" column="Height" />
		<result property="BldType" column="BldType" />
		<result property="Date_Loc" column="Date_Loc" />
		<result property="Style" column="Style" />
		<result property="Personality" column="Personality" />
		<result property="Sal_Annual" column="Sal_Annual" />
		<result property="Date_Count" column="Date_Count" />
		<result property="Date_Rest" column="Date_Rest" />
		<result property="isSpUser" column="isSpUser" />
		<result property="ManagerId" column="ManagerId" />
	</resultMap>

	<!-- insert -->
	<insert id="insertItem"
		parameterType="study.spring.simplespring.model.User"
		useGeneratedKeys="true" keyProperty="MemberId">
		INSERT INTO User (
		MemberId,
		UserId, UserPw, UserName, BirthDate, Gender, IsMarried, Mobile, TEL,
		Email, PostCode, BasicAddress, StateAddress, DetailAddress
		) VALUES (
		#{MemberId}, #{UserId}, #{UserPw}, #{UserName},
		#{BirthDate},
		#{Gender}, #{IsMarried}, #{Mobile}, #{TEL},
		#{Email},
		#{PostCode},
		#{BasicAddress}, #{StateAddress}, #{DetailAddress}
		)
	</insert>

	<select id="selectLoginInfo"
		parameterType="study.spring.simplespring.model.User"
		resultMap="userMap">

		SELECT
		* FROM User
		WHERE UserId=#{UserId} AND UserPw=#{UserPw}

	</select>
	
	<!-- 경동 회원정보 변경 쿼리문 -->
	<update id="updateItem"
		parameterType="study.spring.simplespring.model.User">
		UPDATE user
		SET member_lv=#{member_lv} , date_rest=#{date_rest}, managerid=#{managerid}
		WHERE
		UserName=#{UserName};
	</update>
	<!-- 경동 아이디  찾기 조회 쿼리문 -->
	<select id="selectFindaccount"
		parameterType="study.spring.simplespring.model.User"
		resultMap="userMap">

		select * from user
		where UserName=#{UserName} and email=#{email}

	</select>

</mapper>