@charset "utf-8";

.btn {
	float: right;
}

#question1 {
	text-align: center;
	height: 300px;
	padding-top: 130px;
	font-size: 2em;
	user-select: none;
}

.table-responsive .num {
	width: 65px;
}

.table-responsive .date {
	width: 110px;
}

.table-responsive .reply_ok {
	width: 80px;
}

.table-responsive .name {
	width: 100px;
}